.index_main {
    height:100vh;
    background: url(rsz_map_acasa.jpg); 
    background-size: cover;
	display: flex;
    justify-content: space-around;
	align-items: center;
}

.card {
	background: white;
	color: black;
	/*padding: 30px;*/
	border-radius: 8px;
	width: 300px;
	display: flex;
	flex-flow: column;
	align-items: stretch;
    text-align: center;
}

#main>article>h1 {
	background: #7fd4d2;
	color:white;
	padding: 50px;
	border-radius: 8px;
	font-size: 1.8em;
	margin:5px;
}

#main>article>p {
	border-radius: 8px;
	padding-bottom: 15px;
}

.card>i { 
	color: #313639;
	position: relative;
	top:-45px;
}

.card>i>i {
	color: yellow;
}
