html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font: 1.2em/1.3em "Museo Sans", 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Roboto-Light', 'Roboto Light', 'Roboto', 'Segoe UI Web Light', 'Segoe UI Light', 'Segoe UI Web Regular', 'Segoe UI', Helvetica, Arial, sans-serif;
    color: #fff;
	flex-direction: column;
}

#main {
    margin: 0;
    padding: 0;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}

header {
    background: #313639;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 300;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
}

#menu-button{
	display: none;
	}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 20px;
    border-bottom: 2px solid #7fd4d2;
    display: inline-block;
}

nav ul li a:hover {
    color: #bfc0c0;
}

.logo {
    text-decoration: none;
    color: #7fd4d2;
    border-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}

.help {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#helpButton {
    text-decoration: none;
    color: black;
    background-color: #7fd4d2;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 5px;
    margin-left: 10px;
    text-transform: uppercase;
}

#helpButton:hover {
    background-color: #76b1b0;
}

#banner {
    width: 100%;
    line-height: 80px;
    background-image: url("rsz_map_acasa.jpg");
    border-bottom: 0.5px solid #313639;
    text-align: center;
    font-weight: bold;
    color: black;
}

#vizualizare {
    background: #f4f5f5;
    border-right: 0.5px solid #313639;
    color: black;
    -webkit-flex: 4 1 0;
    flex: 4 1 0;
    -webkit-order: 1;
    order: 1;
    padding: 1em;
	flex-flow: column;
	text-align: center;
}

#main>aside {
    background: #c5c3c4;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    -webkit-order: 2;
    order: 2;
    align-items: stretch;
    padding: 15px;
   
}

#main>#vizualizare>#opt_section {
	display: flex;
	flex-flow: column;
	text-align: center;
	padding: 10px;
	background:#c5c3c4; 
	border-radius: 4px;
}

#export_form>input {
	padding: 5px;
	background:#7fd4d2;
	border: none;
	border-radius: 4px;
}

#export_form>select {
  padding: 3px;
  border: 1px solid #c5c3c4;
  border-radius: 4px;
}

#export_form>select:focus {
	outline: none;
}

.formatbutton {
    text-decoration: none;
    color: #7fd4d2;
	margin-top: 30px;
    background-color: #313639;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    letter-spacing: 3px;
    text-align: center;
}

.formatbutton:hover {
    color: #313639;
    font-weight: 700;
    background-color: #7fd4d2;
}

#format {
    color: black;
    font-weight: bold;
	display: inline
}

header,
footer {
    min-height: 80px;
}

footer {
    background: #313639;
	display: flex;
}

[class^="pie"] {
    stroke-width: 60;
    fill: none;
    transition: all ease 450ms;
}

[class^="pie"]:hover {
    stroke-width: 70;
    border-radius: 4px;
}

[class^="line-"] {
    stroke-width: 2;
    stroke: #0a0a0a;
}

.pie-1 {
    stroke-dashoffset: 498;
    stroke: #e44345;
    stroke-dasharray: 208 630;
    transition-delay: 25ms;
}

.pie-2 {
    stroke-dasharray: 100 630;
    stroke-dashoffset: 490;
    stroke: #f7941e;
    transition-delay: 50ms;
}

.pie-3 {
    stroke-dasharray: 85 630;
    stroke-dashoffset: 560;
    stroke: #ffde16;
    transition-delay: 75ms;
}

.pie-4 {
    stroke-dasharray: 85 630;
    stroke-dashoffset: -69;
    stroke: #0ba14b;
    transition-delay: 100ms;
}

.pie-5 {
    stroke-dasharray: 80 630;
    stroke-dashoffset: 10;
    stroke: #13a89e;
    transition-delay: 125ms;
}

.pie-6 {
    stroke-dasharray: 40 630;
    stroke-dashoffset: 81;
    stroke: #1563a1;
    transition-delay: 150ms;
}

.pie-7 {
    stroke-dasharray: 36 630;
    stroke-dashoffset: 111;
    stroke: #7f3f98;
    transition-delay: 200ms;
}

.pie-8 {
    stroke-dasharray: 8 630;
    stroke-dashoffset: 90;
    stroke: #d399c5;
    transition-delay: 250ms;
}

.outline {
    stroke-width: 68;
    stroke: #7fd4d2;
    fill: none;
}

.text-head {
    font-size: 30px;
    font-weight: 600;
}

.text_label {
    font-size: 10px;
    text-transform: uppercase;
}

svg {
    width: 500px;
    height: 450px;
}

#map {
    width: 100%;
    height: 500px;
}

@media all and (max-width: 640px) {
    html,
    #main,
    #page,
    nav,
    header,
    nav ul {
        display: flex;
        -webkit-flex-flow: column;
        flex-flow: column;
		text-align: center;
    }
	#menu-button {
		display: inline;
		background: #313639;
        color: white;
        border:0;		
	}
	
	#menu-button:focus {
		outline: none;
	}
	.menu {
		display:none;
	}
	.show-menu {
         display: flex;
    }
    header {
        padding: 0;
        font-size: 1em;
        align-items: stretch;
    }
    nav ul li {
        border-bottom: 1px solid #7fd4d2;
        letter-spacing: 2px;
    }
    nav ul li a {
        border-bottom: 0;
        margin: 5px;
    }
    .logo {
        font-weight: bold;
    }
	
	#helpButton {
		display: none;
	}
   
    #vizualizare,
    #main>aside,
    nav,
    header {
        -webkit-order: 0;
        order: 0;
    }
    #main>aside,
    header,
    footer {
        min-height: 50px;
    }
}